<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin - HaS Chat</title>
		<link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
			rel="stylesheet" />
	</head>
	<body>
		<div class="container mx-auto p-4">
			<div class="glass-panel">
				<h1 class="text-3xl font-bold mb-4">Admin Dashboard</h1>

				<!-- User Management -->
				<div class="mb-8">
					<h2 class="text-2xl font-bold mb-4">Users</h2>
					<div class="bg-gray-800 p-4 rounded-lg">
						<table class="w-full">
							<thead>
								<tr class="text-left">
									<th class="p-2">ID</th>
									<th class="p-2">Username</th>
									<th class="p-2">Rooms</th>
									<th class="p-2">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
								<tr class="border-t border-gray-700">
									<!-- <td class="p-2" data-label="ID">{{ user.id }}</td> -->
									<td class="p-2" data-label="Username">
										{{ user.username }} {% if user.is_admin %}(Admin){% endif %}
									</td>
									<td class="p-2" data-label="Rooms">
										Rooms: {{ user.rooms|map(attribute='name')|join(', ') }}
									</td>
									<td class="p-2" data-label="Actions">
										<a
											href="{{ url_for('main.login_as', user_id=user.id) }}"
											class="btn"
											>Login as</a
										>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<!-- Room Management -->
				<div class="mb-8">
					<h2 class="text-2xl font-bold mb-4">Rooms</h2>
					<div class="bg-gray-800 p-4 rounded-lg">
						<table class="w-full">
							<thead>
								<tr class="text-left">
									<th class="p-2">Name</th>
									<th class="p-2">Users</th>
									<th class="p-2">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for room in rooms %}
								<tr class="border-t border-gray-700">
									<td class="p-2" data-label="Name" style="font-weight:bold">{{ room.name }}</td>
									<td class="p-2" data-label="Users">
										{% for user in room.users %} {{ user.username }}
										<form
											action="{{ url_for('main.admin_remove_user_from_room', room_name=room.name, user_id=user.id) }}"
											method="POST"
											class="inline-block">
											<button type="submit" class="btn">Remove</button>
										</form>
										<br />
										{% endfor %}
									</td>
									<td class="p-2" data-label="Actions">
										<form
											action="{{ url_for('main.admin_clear_room', room_name=room.name) }}"
											method="POST"
											class="inline-block">
											<button type="submit" class="btn">Clear History</button>
										</form>
										<br>
										<form
											action="{{ url_for('main.admin_delete_room', room_name=room.name) }}"
											method="POST"
											class="inline-block">
											<button type="submit" class="btn">Delete Room</button>
										</form>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<!-- File Management -->
				<div>
					<h2 class="text-2xl font-bold mb-4">Files</h2>
					<div class="bg-gray-800 p-4 rounded-lg">
						<table class="w-full">
							<thead>
								<tr class="text-left">
									<th class="p-2">Filename</th>
									<th class="p-2">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for file in files %}
								<tr class="border-t border-gray-700">
									<td class="p-2" data-label="Filename">
										<a
											href="{{ url_for('main.uploaded_file', filename=file) }}"
											target="_blank"
											class="text-blue-400 hover:underline"
											>{{ file }}</a
										>
									</td>
									<td class="p-2" data-label="Actions">
										<form
											action="{{ url_for('main.admin_delete_file', filename=file) }}"
											method="POST"
											class="inline-block">
											<button type="submit" class="btn">Delete</button>
										</form>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
